
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'footer';
@import 'header';
@import 'main';

.box1{
    background-color: tomato;
    width: 100px;
    height: 100px;
}
