.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}


/* Main */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de {
    background-color: #fff;
    .boton {
        display: inline-block;
        padding: 6px;
        width: 128px;
        font-weight: 300;
        border: 1px solid rgba(24, 16, 16, 0.7);
        color: rgb(24, 16, 16);
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        border-radius: 16px;
        margin-top: 24px;
    }
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.miembros {
    background-color: #fff;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
    h2 {
        position: relative;
        top: 45%;
        text-align: center;
        color: #fff;
    }
    div {
        position: relative;
        display: block;
        top: 46%;
        width: 40px;
        height: 5px;
        background: #fff;
        margin: auto;
    }
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
}

.fondo {
    height: 900px;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    background-image: url('/images/fondo.png');
}

.sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #fff;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.cliente {
    width: 30%;
    img {
        width: 100%;
    }
}

/* Responsive */

@media screen and (max-width: 900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 610px) {
    .none {
        display: none;
    }
    .imagenes {
        flex-grow: 1;
    }
    .card {
        width: 90%;
    }
    .fondo {
        height: auto;
    }
    .especial {
        display: none;
    }
    .cliente {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 380px) {
    .sobre-nosotros {
        font-size: 46px;
    }
    .slogan {
        font-size: 20px;
    }
    .titulo-patrocinadores {
        font-size: 46px;
    }
    .subtitulo-patrocinadores {
        font-size: 20px;
    }
}